<p-table #dt 
[columns]="displayedCols" 
[value]="displayedRows" 
[lazy]="lazyLoadingEnabled" (onLazyLoad)="loadLazy($event)"
[sortMode]="columnSortMode"
[paginator]="paginationEnabled"  
[rows]="pageSize" 
[rowsPerPageOptions]="pageSizeOptions"
[totalRecords]="totalRecordSize" 
[selectionMode]="rowSelectionMode"
[loading]="loading">

  <!--Global Filter-->
  <ng-template pTemplate="caption" *ngIf="globalFilterEnabled">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:auto">
    </div>
  </ng-template>
  <!--/Global Filter-->

  <!--Table Header-->
  <ng-template pTemplate="header" let-columns *ngIf="headerEnabled">
    <!--Header-->
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
    <!--/Header-->
    <!--ColumnFilter-->
    <tr *ngIf="columnFilterEnabled">
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'userId'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'title'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
    <!--ColumnFilter-->
  </ng-template>
  <!--/Table Header-->

  <!--Table Body-->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <!--/Table Body-->

</p-table>